@import '~antd/dist/antd.css';

/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.shadow:hover {
    box-shadow: 0 10px 6px -6px #ddd;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Format striped table */
.striped {
    background-color: #cfdde29e;
}

.default {
    background-color: #ffffff
}

/* Create border color for input */
.ant-select-selection, .ant-input, .ant-input-number {
	border-color: #40A9FF;
}

.ant-modal-header {
	background-color: #1890ff;
}

.ant-modal-title, .ant-modal-close-x {
	color: #ffffff;
}

.ant-table-thead > tr > th {
	background: #1890FF;
	color: #ffffff;
}

.ant-table-row[class*='ant-table-row-level-0'] td {
	padding-top: 5px;
	padding-bottom: 5px;
}

.borderless-badge .ant-badge-count {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}