.sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.header {
    padding: 0 24px !important;
}

.trigger-icon {
    color: #fff;
    font-size: 20px;
    transform: translateX(-100%);
}

.content {
    margin: 24px 16px;
    padding: 24px;
    background: #fff;
    /*min-height: 100vh;*/
}

.menu-item {
    margin-top: 0 !important;
    margin-bottom: 12px !important;
}